<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org xmlns:sec="http://www.w3.org/1999/xhtml">


<div th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">yangbum Shop</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav justify-content-end mt-2 mt-lg-0">
                <li class="nav-item"sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/members/login">로그인</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated">
                  <b><a class="nav-link" style="color: #000000"  sec:authentication="name" href="/members/logout">로그아웃</a></b>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div>
            <form style="position:absolute; left:500px;width:800px;" class="form-inline my-2 my-lg-0" th:action="@{/}" method="get">
                <input style = "width:600px;"name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <ul style="position:absolute; left:1200px;top:9px;" class="navbar-nav mr-auto mt-2 mt-lg-0">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                    역 할
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" sec:authorize="isAuthenticated()" href="/orders">구매 내역</a>
                    <a class="dropdown-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')" href="/admin/item/new">상품등록</a>
                    <a class="dropdown-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')" href="/admin/items">상품관리</a>
                </div>
            </div>
            <div>
                <a class="dropdown-item" sec:authorize="isAuthenticated()" href="/cart">카트</a>
            </div>


        </ul>
    </nav>

</div>
<style>
    .navbar-default { background-color: #FFFFFF; }

</style>

</html>